* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li,
a,
button {
    font-weight: 500;
    font-size: x-large;
    color: white;
    text-decoration: none;
    list-style: none;
}

header {
    display: inline;
    align-items: center;
    padding: 30px 10%;
}

nav {
    display: flex;
    margin: auto;
    float: right;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
}

.logo {
    cursor: pointer;
}

.row {
    color: white;
    width: 80%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
}

.row {
    display: flex;
}

.column img {
    width: 400px;
    height: 500px;
}

.index1 {
    background-color: rgb(165, 42, 56);
}

.index2 {
    background-color: rgb(97, 42, 165);
}

body {
    background-image: url("backgroundindex.jpg");
}

h2 {
    color: white;
}

.skills {
    padding-top: 450px;
    margin: auto;
    text-align: center;
}

.skills ul li {
    display: inline-block;
    font-size: 20px;
}

.skills p {
    font-size: 30px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    padding: 20px;

}

.contact-text {
    font-size: 130px;
    color: white;
    padding-top: 100px;
    text-align: center;
}

.contact-topic {
    color: white;
}


body {
    font-family: Arial;
    padding: 20px;
    background: black;
  }
  
 
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: black;
  }
  

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
     background-color: royalblue;
     padding: 20px;
     margin-top: 20px;
  }