* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li,
a,
button {
    font-weight: 500;
    font-size: x-large;
    color: white;
    text-decoration: none;
    list-style: none;
}

header {
    display: inline;
    align-items: center;
    padding: 30px 10%;
}

nav {
    display: flex;
    margin: auto;
    float: right;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
}

.logo {
    cursor: pointer;
}

.row {
    color: white;
    width: 80%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
}

.row {
    display: flex;
}

.column img {
    width: 400px;
    height: 500px;
}

.index1 {
    background-color: rgb(165, 42, 56);
}

.index2 {
    background-color: rgb(97, 42, 165);
}

body {
    background-image: url("backgroundindex.jpg");
}

h2 {
    color: white;
}